<!DOCTYPE html>
<html>
<head>
    <title>Study Brain</title>
</head>
<body>

<h1>Study Brain</h1>

<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="note">
    <button type="submit">Upload</button>
</form>

<h2>Uploaded Files</h2>

<ul>

{% for file in files %}

<li>

{% if file.endswith('.jpg') or file.endswith('.jpeg') or file.endswith('.png') %}

    <a href="/image/{{ file }}">{{ file }}</a>

    |

    <a href="/ocr/{{ file }}">Extract Text</a>

    |

    <a href="/summary/{{ file }}">Better Summary</a>

    |

    <a href="/keywords/{{ file }}">Keywords</a>

    |

    <a href="/questions/{{ file }}">Revision Questions</a>

    <br><br>

    <img src="/image/{{ file }}" width="250">

    <br><br>

{% else %}

    <a href="/note/{{ file }}">{{ file }}</a>

{% endif %}

</li>

{% endfor %}

</ul>

</body>
</html>