<!DOCTYPE html>
<html>

<head>
    <title>{{ topic_name }}</title>
</head>

<body>

<h1>{{ title }}</h1>

<a href="{{ back_url }}">
    {{ back_text }}
</a>

<hr>

<h2>📄 Summary</h2>

<ul>

{% for line in summary %}

<li>{{ line }}</li>

{% endfor %}

</ul>

<hr>

<h2>🎯 Main Concepts</h2>

<ul>

{% for concept, count in concepts %}

<li>{{ concept }}</li>

{% endfor %}

</ul>

<hr>

<h2>🔑 Keywords</h2>

<ul>

{% for keyword, count in keywords %}

<li>{{ keyword }}</li>

{% endfor %}

</ul>

<hr>

<h2>❓ Revision Questions</h2>

<ol>

{% for question in questions %}

<li>{{ question }}</li>

{% endfor %}

</ol>

<hr>

<h2>📚 Notes in this Topic</h2>

{% for file in files %}

<div class="card">

{% if file.endswith('.jpg') or file.endswith('.jpeg') or file.endswith('.png') %}

<h3>{{ file }}</h3>

<div class="actions">

<a href="/smart/{{ file }}">📄 Smart Note</a>

<a href="/image/{{ file }}">🖼 View Image</a>

</div>

<br>

<img src="/image/{{ file }}" width="250">

{% else %}

<h3>{{ file }}</h3>

<div class="actions">

<a href="/smart/{{ file }}">📄 Smart Note</a>

</div>

{% endif %}

</div>

{% endfor %}

</body>

</html>